@font-face {
  font-weight: normal;
  font-family: "Roboto";
  font-style: normal;
  font-display: swap;
  src: url("fonts/roboto-regular.woff2") format("woff2"), url("fonts/roboto-regular.woff") format("woff");
}
@font-face {
  font-weight: bold;
  font-family: "Roboto";
  font-style: normal;
  font-display: swap;
  src: url("fonts/roboto-bold.woff2") format("woff2"), url("fonts/roboto-bold.woff") format("woff");
}

body {
  margin: 0;
  font-family: "Roboto", "Times New Roman", sans-serif;
}

.page-main {
  margin: 0 auto;
  max-width: 1100px;
  padding: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 40px;
  grid-row-gap: 40px;
}

.block__text {
  margin: 0;
}

.header {
  grid-column: 1 / span 2;
  padding-bottom: 42px;
}

.header__title {
  font-size: 36px;
  position: relative;
  padding-bottom: 1em;
  width: 400px;
}

.header__title span {
  z-index: 1;
  position: absolute;
  width: 100%;
  left: 0;
}

.header__title span::after {
  content: "";
  width: 100%;
  z-index: -1;
  height: 6px;
  background-color: #ffb800;
  position: absolute;
  left: 0;
  bottom: -3px;
}

.block__title {
  display: flex;
  width: 100%;
  position: relative;
  text-align: center;
  align-items: center;
  justify-content: center;
  height: 1em;
  margin: 0;
  margin-bottom: 0.75em;
}

.block__title span {
  margin: 0 auto;
  /*width: 100%;*/
  position: absolute;
  z-index: 20;
  /*top: 0;*/
  /*left: 0;*/
  text-align: center;
  font-size: 24px;
  margin-bottom: 10px;
  text-transform: uppercase;
  font-weight: bold;
}

.block {
  padding-top: 2.5em;
  font-size: 18px;
  line-height: 24px;
  position: relative;
}

.block__title span::after {
  content: "";
  position: absolute;
  width: calc(100% + 18px);
  height: 10px;
  bottom: 4px;
  left: -9px;
  z-index: -10;
  background-color: #ffb800;
}

.header__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__title {
  margin: 0 0 0 35px;
  text-align: center;
  font-weight: normal;
  position: relative;
}

.about-me__text:first-child {
  margin-bottom: 1em;
}

.offers__list,
.skills__list,
.skills__item-extra-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.skills__list .skills__item-extra-list {
  /*display: none;*/
  overflow: hidden;
  /*visibility: hidden;*/
  max-height: 0;
  margin-left: 43px;
  transition: max-height 0.6s linear;
  /*transition: visibility 0.6s linear;*/

}

.skills__item--opened .skills__item-extra-list {
  /*display: block;*/
  visibility: unset;
  max-height: 500px;
  overflow: hidden;
  transition: max-height 0.6s linear;
}

.skills__item-rollup-btn img {
  transform: rotate(0deg);
  transition: 0.3s;
}

.skills__item--opened .skills__item-rollup-btn img {
  transform: rotate(180deg);
  transition: 0.6s;
}

.skills__item {
  position: relative;

}

.skills__item-rollup-btn {
  background-color: white;
  padding: 0;
  margin: 0;
  border: none;
  position: absolute;
  top: 0;
  right: 0;
}

.skills__item-rollup-btn:hover,
.slider__button:hover {
  cursor: pointer;
  opacity: 0.6;
}

.skills__item-rollup-btn:active,
.slider__button:active {
  opacity: 0.3;
}

.skills__item-extra-item:first-child {
  margin-top: 1em;
}

.skills__item-extra-item {
  margin-bottom: 0.5em;
}

.offers__item:not(:last-child),
.skills__item:not(:last-child) {
  margin-bottom: 1em;
}

.skills {
  grid-column: 1 / span 2;
}

.studying__text:nth-of-type(2) {
  margin: 1em 0;
}

.certificates {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.slider {
  max-width: 300px;
  position: relative;
  /*margin: 0 auto;*/
}

.slider__wrapper {
  position: relative;

  z-index: 1;
  display: flex;
  overflow: hidden;
  margin: 0;
}


.slider__button {
  position: absolute;
  z-index: 10;
  width: 25px;
  height: 25px;
  top: calc(50% - calc(25px/2));
}

.slider__button--prev {
  left: -30px;
}

.slider__button--next {
  right: -30px;
}

.slider__button {
  padding: 0;
  margin: 0;
  border: none;
  background-color: white;

}

.certificates__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  position: relative;
  justify-content: flex-start;
  left: 0;
  width: 400%;
  transition: transform 0.6s ease;
  /*overflow: hidden;*/
}
